.hamburger{
  padding:1rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
  background: var(--panel);
  border: 1px solid var(--border);
  
  top: 1.2rem;
  left: 2rem;
  align-self: center;
}
.hamburger .line{
  width: 36px;
  height: 4px;
  background-color: var(--muted);
  display: block;
  margin: 8px auto;
  
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}